@*Typing the @ symbol tells the editor that we want to switch to  using c#!!*@

@model ComicBookGallery.Models.ComicBook

@{
    //Setting the layout  property to Layout = null, tells MVC that there is no layout page!!!!

    //Layout = "~/Views/Shared/_Layout.cshtml"; // niet meer nodig want bij het aanmaken van Index action Method werd er automatisch een viewstart.chtml file aangemaakt waarin  de shared layout wordt vastgelegd

    ViewBag.Title = "Model.DisplayText";
    ViewBag.ShowBackBar = true;

}


<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>SeriesTitle: </label>@Model.SeriesTitle</h5>
            <h5><label>Issue #: </label> @Model.IssueNumber</h5>
            <h5><label>Favorite: </label>@(Model.Favorite? " Yes": " No")</h5>
            @if (Model.Artists.Length > 0)
            {
                <h5>Artists:</h5>
                <div>
                    <ul>
                        @foreach (var item in Model.Artists)
                        {
                            <li> @item.Role: @item.Name </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <h5>Description:</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>







