@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

@*Here’s the markup that the designer provided to us for the “Comic Books List” view.*@

<div class="row">

    @*Model in de foreach verwijst naar de array dat we hierboven in de @MODEL property hebben gestoken!*@
    @foreach (var comicbook in Model)
    {
        
    <div class="col-md-3">
        @*GEBRUIK VAN @@HTML.ACTIONLINK FUNCTIE MET ANONYMOUS TYPES(VOOR HET AAN MAKEN VEN EEN ANONIEM ROUTEVALUE!!) OM TEKST ALS LINK TE GEBRUIKEN8 *@
        <h4>@Html.ActionLink(comicbook.DisplayText, "Detail", new { id = comicbook.ID })</h4>
        @* OM IMAGES ALS HYPERLINK TE GEBRUIKEN MOETEN EERST DE IMAGE TAG IN EEN ANCOR ZETTEN EN HIER DE @URL.ACTION METHODE GEBRUIKEN MET (ACTIONNAME EN ANONIEME ROUTE VALUE)*@
        <a href="@Url.Action("Detail", new {id = comicbook.ID })">
        <img src="/images/@comicbook.CoverImageFileName"
             alt="@comicbook.DisplayText"
             class="img-responsive" />
        </a>
    </div>
    }
</div>